Hacking/send_stored_passwords/credentials.txt
Hacking/key_logger/credentials.txt
Hacking/webcam_shot/credentials.txt
Hacking/screen_shot/credentials.txt
Hacking/ransomware/dat
Utility/dat
Utility/encoded_dat